<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=10">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="G. (Kyria) Bisch">

    <title>{{ tournament.tournament_name }}</title>

</head>

<body>

{% if not current_user.is_authenticated %}
<a href="{{ url_for('login') }}">
    <img src="https://web.ccpgamescdn.com/eveonlineassets/developers/eve-sso-login-white-large.png" alt="Log in with eveonline.com" />
</a>

{% else %}
Hello <strong>{{ current_user.character_name }}</strong><br>
<br>
<br>
<strong> Tournament: </strong> {{ tournament.tournament_name }}
<br>
{{ tournament.tournament_description }}
<br>
<a href="{{ tournament.tournament_url }}">Rules and more information</a>
<br>
<br>

{% if length(current_tournaments) > 0 %}

<strong>Current Tournaments:</strong>
<table>
	<tr>
		<th>Name</th>
		<th>Description</th>
	</tr>
	{% for elem in current_tournaments %}
	<tr>
		<td><a href="{{ url_for('tournament', tid=elem.tournament_id }}">{{ elem.name }}</a></td>
		<td>{{ elem.description }}</td>
	</tr>
	{% endfor %}
</table>

{% else %}
<strong> No ongoing tournaments right now -- check back later! </strong>
{% endif %}
<br>
<br>
<br>
<a href="{{ url_for('logout') }}">Logout</a>
{% endif %}
